body {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

.header {
    background-image: url(./images/irina-muller-9Qew-3nmDT4-unsplash.jpg);
    background-size: cover;
    height:520px;
    background-position-x: 33%;
    position: relative;
    
}

.fab {
    color:#fff;
}

.header-overlay {
    position: absolute;
    top:0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(126, 126, 126, 0.5); 
}

.header-text-group {
    color:#fff;
    position: absolute;
    top: 121px;
    left: 24px;
    width: 220px;
}

.portfolio, .name {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 18px;
}

.name {
    font-weight: bold;
}

h1, h2 {
    margin: 0;
}

h1 {
    font-size: 40px;
    font-weight:900;
    line-height: 49px;
}

h2 {
    font-size: 30px;
    line-height: 50px;
}

.social-logos {
    position:absolute;
    right:0;
    top: 48px;
}

.profile-img {
    width: 180px;
    border-radius: 50%;
    border: solid #fff;
    position: absolute;
    bottom: -16px;
    right: 24px;
}

.header-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.line {
    border: 1px solid #E74A3C;
    width: 40px;
    display: inline-block;
    margin-bottom: 4px;
    margin-right: -4px;
}

.dot {
    height: 10px;
    width: 10px;
    background-color: #E74A3C;
    border-radius: 50%;
    display: inline-block;
    font-size: 0;
}

.presentation {
    font-size: 18px;
    line-height: 29px;
    
}

h3 {
    background-color: #FA382F;
    color: #fff;
    display: inline;
}

h4 {
    color:#FA382F;
}

h5 {
    color:#FA382F;
}

.container {
    width: 375px;        /*Lowest supported width value for mobile*/
    margin: 0 auto;
}

.section:nth-child(2n) {
    background-color: #F4F4F4;
}

.section:nth-child(2n + 1) {
    background-color:#fff;
}

.project-link {
    text-decoration: none;
    color:#000;
}

.project-image {
    width: 100%;
    display: inherit;                      /*Inherits the display:block from parent div*/
}

.project-heading {
    font-size: 24px;
    line-height: 30px;
    margin: 17px 0;
}

.project-image-group {
    position: relative;
}

.language-box {
    background-color: #F5D8E0;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 11px;

}

.thoughts-image-group {
    position: relative;
}

.overlay {
    position: absolute;
    top:0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(53, 69, 119, 0.5);               /*Fourth number maing the overlay being seethrough*/
    transition: 0.5s ease;
}

.overlay:hover {
  background-color: transparent;
}

footer {
    background-color: #072BCE;
    color:#fff;
}