body {
    box-sizing: border-box;
    margin: 0;

    /*font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto', sans-serif;*/

}

.header {
    background-image: url(./images/irina-muller-9Qew-3nmDT4-unsplash.jpg);
    background-size: cover;
    height:520px;
    background-position-x: 33%;
    position: relative;
    
}

.header-overlay {
    position: absolute;
    top:0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(126, 126, 126, 0.5); 
}

.header-text-group {
    color:#fff;
    position: absolute;
    top: 121px;
}

.portfolio, .name {
    font-family: 'Roboto', sans-serif;
}

.name {
    font-weight: bold;
}

h1, h2 {
    font-family: 'Roboto', sans-serif;
}

.social-logos {
    position:absolute;
    right:0;
    top: 48px;
}

.profile-img {
    width: 180px;
    border-radius: 50%;
    border: solid #fff;
    position: absolute;
    bottom: -16px;
    right: 24px;
}

.header-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.presentation {
    font-family: 'Montserrat', sans-serif;
    
}

h3 {
    font-family: 'Montserrat', sans-serif;
    background-color: #FA382F;
    color: #fff;
    display: inline;
}

h4 {
    font-family: 'Montserrat', sans-serif;
    color:#FA382F;
}

h5 {
    font-family: 'Montserrat', sans-serif;
    color:#FA382F;
}

.container {
    width: 375px;        /*Lowest supported width value for mobile*/
    margin: 0 auto;
    
}

.section:nth-child(2n) {
    background-color: #F4F4F4;
}

.section:nth-child(2n + 1) {
    background-color:#fff;
}

.project-image {
    width: 100%;
    display: inherit;                      /*Inherits the display:block from parent div*/
}

.project-heading {
    font-size: 24px;
    line-height: 30px;
    margin: 17px 0;
}

.project-image-group {
    position: relative;
}

.thoughts-image-group {
    position: relative;
}

.overlay {
    position: absolute;
    top:0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(53, 69, 119, 0.5);               /*Fourth number maing the overlay being seethrough*/
}

footer {
    background-color: #072BCE;
    color:#fff;
    font-family: 'Montserrat', sans-serif;
}